.calendar {
  font-family: sans-serif;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  text-align: -webkit-center;
  color: wheat;
  border: solid 2px #2f3061;
  border-radius: 10px;
  /* background-color: #4c9141; */
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110%;
  margin-bottom: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 25px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: black;
  cursor: pointer;
}

.today {
  background-color: black;
}

.selected {
  background-color: #a10e22;
  color: #fff;
}

.add-calendar {
  font-size: 1rem;
  background-color: rgba(76, 145, 65, 0.5);
}

.add-calendar-enter {
  opacity: 0;
}

.add-calendar-enter-active {
  will-change: opacity;
  opacity: 0;
}

.add-calendar-enter-done {
  opacity: 1;
  transition-duration: 1s;
}

.add-calendar-exit-active {
  will-change: opacity;
  transition-duration: 1s;
  opacity: 0;
}

.add-calendar-exit {
  will-change: opacity;
  transition-duration: 0.5s;
  opacity: 0;
}

.add-calendar-exit-done {
  will-change: opacity;
  transition-duration: 0.5s;
  opacity: 0;
  background-color: #4c9141;
}
